.App {
  text-align: center;
}

.card {
  width: 20%;
  margin:20px;
  height: 500px;
}

.card > img {
  height: 200px;
}

#form{
  margin: 50px;
  width: 70%;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}